name: R-CMD-check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            any::pkgdown
            any::testthat
            any::waldo
          needs: check
      - name: Check
        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
      - name: Build pkgdown site
        run: |
          Rscript -e 'pkgdown::build_site(preview = FALSE)'
      - name: Deploy pkgdown site
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs
          clean: true
